<%- contentFor('content') %>
    <section class="mt-4 mb-4">
        <div class="max-w-7xl mx-auto">
            <h2 class="text-3xl font-bold text-gray-800 text-center">Contact me!!</h2>
            <h3 class="text-3m font-bold font-italic text-yellow-700 text-center"><a href="d2js.site">D2JS.site</a></h3>
            <img class="center" src="https://www.educaciontrespuntocero.com/wp-content/uploads/2019/06/homer.gif" alt="">
        </div>
    </section>